$background_from: #1B2735;
$background_to: #090A0F;
$secondary_color: #fff;
$third_color: #45ab5d;

$extra_small: 1.5rem;
$small: 2rem;
$base: 2.5rem;
$med: 3.5rem;
$large: 4.5rem;
$extra_large: 5.5rem;
