$background_from: #1B2735;
$background_to: #090A0F;
$secondary_color: #fff;
$third_color: #7AC74F;

@mixin filter_to_third_color {
    filter: invert(64%) sepia(31%) saturate(762%) hue-rotate(55deg) brightness(104%) contrast(86%);
}

$white: #fff;

$extra_small: 1.5rem;
$small: 2rem;
$base: 2.5rem;
$med: 3.5rem;
$large: 4.5rem;
$extra_large: 5.5rem;
